body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    text-align: center;
    margin-bottom: 25px;

}

.search-main{
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.btn-search{
    text-align: center;
    margin-bottom: 10px;

}

.header-margin{
    margin-bottom: 50px;
}

.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }